/*Color: #7ED6DF*/

/*BASIC SETUP*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	color: #2D2D2D;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

/*REUSEABLE*/

.row {
	max-width: 1140px;
	margin:0 auto;
}

h2 {
	text-align: center;
	color: #2D2D2D;
	padding: 60px 0 50px 0;
}

/*HEADER*/

.navbar {
	background-color: #FFF; 
	text-align: center;
}

.navbar li {
	background-color: FFF;
	display: inline-block;
	padding: 0 15px 30px 15px;
}

.navbar li a:link,
.navbar li a:visited {
	color: #000;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 95%; 
	transition: color 0.2s;
}

.navbar li a:hover,
.navbar li a:active {
	color: #7ED6DF;
}

.logo {
	background-color: #FFF;
	color: #CCC;
	text-align: center;
	font-weight: 400;
	padding: 40px 0 30px 0;
	margin: 0;
}

.logo span {
	color: #7ED6DF;
}

/*INTRO*/

.intro {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(http://res.cloudinary.com/dvnmnpkbt/image/upload/v1534361243/Background_ixukg4.jpg);
	/*Background image by Rafael De Nadai on Unsplash*/
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 50vh;
}

.intro .row {
	text-align: center;
	padding-top: 9%;
}

.intro h1 {
	color: #7ED6DF;
	text-align: center;
}

.intro h2 {
	color: #7ED6DF;
}

.intro p {
	color: #FFF;
}

/*ABOUT*/

.section-about {
	background-color: #E8E8E8;
	padding-bottom: 70px;
}

/*PHOTOGRAPHY*/

.photo { overflow: hidden; }

.photo img {
	width: 100%;
	height: auto;
	transition: transform 0.5s;
}

.photo img:hover {
	transform: scale(1.05);
	-ms-transform:scale(1.05); /* IE 9 */
    -moz-transform:scale(1.05); /* Firefox */
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -o-transform:scale(1.05); /* Opera */
}


/*CONTACT*/

.section-contact {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 60px;
}

.section-contact h3 {
	padding: 10px;
}

.section-contact a { color: #000; }

.section-contact a:hover {
	color: #207982;
	transition: color 0.2s
}

/*FOOTER*/

footer {
	font-size: 80%;
	text-align: center;
	color: #000;
	padding-bottom: 30px;
}

